.content_box {

    background-color: #D9D9D9;
    padding: 10px;
}

.content_box h1 {
    margin: 0;
    border-bottom: 1px solid black;
}

.content_box button {
    border: 0;
    padding: 10px;
    border-radius: 40px;
    background-color: #FAF7F3;
}